BODY {
	background: url(/static/ploddle.png);
	background-size: contain;
	background-attachment: fixed;
}

#controls {
	position: fixed;
	top: 64px;
	right: 0px;
	padding-right: 16px;
	border: 1px solid black;
	border-right: none;
	background: white;
	border-radius: 16px 0px 0px 16px;
}

HEADER {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: white;
	border-bottom: 1px solid black;
}
HEADER FORM {
	margin-bottom: 0px;
}

SECTION.main {
	position: fixed;
	top: 0px;     /* will be corrected by JS */
	bottom: 0px;  /* as above */
	left: 0px;
	right: 0px;
	overflow-y: scroll;
}

SECTION.settings {
	display: none;
}

FOOTER {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: white;
	border-top: 1px solid black;
	text-align: center;
}

.messageview {
	border-collapse: collapse;
	width: 100%;
	font-family: monospace;
	font-size: 10px;
}
.messageview TR TD {
	padding: 2px 6px;
}
.messageview TR.message TD {
	border-top: 1px solid gray;
}
.messageview TR.message:first-child TD {
	border-top: 0px;
}
.messageview SELECT, .messageview INPUT {
	width: 100%;
}

.severity-0 {color: black;  background-color: #F44;}
.severity-1 {color: black;  background-color: #F44;}
.severity-2 {color: black;  background-color: #F44;} /* critical */
.severity-3 {color: black;  background-color: #F88;} /* error, fatal */
.severity-4 {color: black;  background-color: #EE2;} /* warning */
.severity-5 {color: black;  background-color: #EE2;}
.severity-6 {color: black;  background-color: #8F8;} /* info */
.severity-7 {color: grey;   background-color: #DFD;} /* debug */
