H1 {
	text-align: center;
}
TD {
	font-family: monospace;
	font-size: 10px;
}

#columns {
	position: fixed;
	top: 64px;
	right: 0px;
	padding-right: 16px;
	border: 1px solid black;
	border-right: none;
	background: white;
	border-radius: 16px 0px 0px 16px;
}

.severity-0 {color: black;  background-color: #F44;}
.severity-1 {color: black;  background-color: #F44;}
.severity-2 {color: black;  background-color: #F44;} /* critical */
.severity-3 {color: black;  background-color: #F88;} /* error, fatal */
.severity-4 {color: black;  background-color: #EE2;} /* warning */
.severity-5 {color: black;  background-color: #EE2;}
.severity-6 {color: black;  background-color: #8F8;} /* info */
.severity-7 {color: grey;   background-color: #DFD;} /* debug */
